.bollywoodheader-container {
  background: linear-gradient(45deg, rgb(11, 214, 11) 10%, black 70%);
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.bollywoodheader-menu {
  display: flex;
  color: white;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.bollywoodheader-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 70px;
}
.Account {
  font-size: 20px;
}
