.directors-title {
  display: block;
  margin-top: 60px;
  width: 500px;
  margin-left: 33%;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  background: linear-gradient(to right, transparent, #00ff9d, transparent);
}

.directors-title h2 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0 0 10px #00ff9d;
  padding: 10px;
}

.mollywoodhero-container {
  margin: auto;
  padding: auto;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Rajdhani", sans-serif;
}

.mollywoodhero-container::-webkit-scrollbar {
  display: none;
}

.mollywood-directors {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.mollywood-directors img {
  width: 200px;
  height: 300px;
  padding: 20px;
  margin: 40px 32px 0;
  flex-shrink: 0;
}

.mollywood-directors img:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.1);
}

.directors-details {
  text-align: center;
  padding: 20px;
}
.directors-details h3 {
  color: #00ff9d;
  font-size: 20px;
  margin: 0 10px 10px;
}

.directors-details a {
  color: #00ff9d;
  text-decoration: none;
  font-size: 16px;
}
.directors-details a:hover {
  text-decoration: none;
  border: 1px solid #00ff9d;
  padding: 5px 10px;
  border-radius: 5px;
}
